<ng-template #loading>
    <div class="alert alert-info text-center">
        Espere por favor
    </div>
</ng-template>

<div>
    <div *ngIf="country; else loading">
        <div class="row">
            <div class="col-12">
                <h2>Country: <strong>{{ country?.name?.common }}</strong></h2>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <h3>Bandera</h3>
            <img 
                [src]="country?.flags?.svg"
                [alt]="country?.name?.common"
                class="img-thumbnail"
            >
        </div>
        <div class="col">
            <h3>Information</h3>
            <ul class="list-group">
                <li class="list-group-item">
                    <strong>Population</strong> {{ country?.population | number }}
                </li>
                <li class="list-group-item">
                    <strong>Code</strong> {{ country?.cca3 }}
                </li>
            </ul>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col">
            <h3>Translations</h3>
            <div class="d-fex flex-wrap">
                <span class="badge bg-primary m-1">
                    <!--
                        {{ country.translations["ara"]?.common }}
                    -->
                </span>
                <span class="badge bg-primary m-1">
                    <!--
                        {{ country.translations["es"]?.common }}
                    -->
                </span>
                <span class="badge bg-primary m-1">
                    <!--
                        {{ country.translations["fr"]?.common }}
                    -->
                </span>
                <span class="badge bg-primary m-1">
                    <!--
                        {{ country.translations["ja"]?.common }}
                    -->
                </span>
                <span class="badge bg-primary m-1">
                    <!--
                        {{ country.translations["br"]?.common }}
                    -->
                </span>
                <span class="badge bg-primary m-1">
                    <!--
                        {{ country.translations["nl"]?.common }}
                    -->
                </span>
                <span class="badge bg-primary m-1">
                    <!--
                        {{ country.translations["fa"]?.common }}
                    -->
                </span>
            </div>
        </div>
    </div>
</div>