<ul>
    <!-- 
        para utilizar las directivas, deberemos especificarlas dentro de alguna etiqueta, ya que sinó, 
          lo detectará como texto plano e imporimirá directamente ese linea
        
        también, podemos incluir código JS tal como la declaración del índice
    -->
    <li *ngFor="let heroe of heroes; let i = index">
        {{ i + 1}} - {{ heroe }}
    </li>
</ul>

<div>
    <h3>Héroe borrado</h3>
    <span>{{ heroeBorrado }}</span>
</div>

<br>

<button (click)="borrarHeroe()">Borrar Héroe</button>