<h2>Reactivos: Básicos</h2>

<hr>

<form [formGroup]="myForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <!-- Campo de producto -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
            <input class="form-control"
                formControlName="name"
                placeholder="Nombre de la persona">

            <span class="form-text text-danger">
                <!-- Debe de ser de 3 letras -->
                {{ getFieldError('name') }}
            </span>
        </div>
    </div>

    <!-- Agregar favorito -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Agregar</label>
        <div class="col-sm-9">
            <div class="input-group">
                <input class="form-control"
                    [formControl]="newFavorite"
                    placeholder="Agregar favorito"
                    #txtNewFavorite>

                <button (click)="onAddFavorite()" 
                    class="btn btn-outline-primary"
                    type="button">
                    Agregar
                </button>
            </div>

            <br>

        </div>
    </div>

    <!-- Campo de existencias -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Favoritos</label>
        <div class="col-sm-9">
            <!-- ? Accede al getter que se acaba de generar -->
            <!-- ! Es importante añadir el 'formArrayName'. De lo contrario, no se mostrará valor -->
            <div class="mb-1" formArrayName="favoriteGames" *ngFor="let favorite of favoriteGames.controls; let i = index">
                <div class="input-group">
                    <input [formControlName]="i" 
                        class="form-control">

                    <button (click)="onDeleteFavorite(i)" 
                        class="btn btn-danger"
                        type="button">
                        Eliminar
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button type="submit" class="btn btn-primary float-end">
                Guardar
            </button>
        </div>
    </div>

<br>

<hr>

<br>

<div class="row">
    <div class="col">
        <span>Valid</span>
        <pre>{{ 'objeto' | json }}</pre>

        <span>Pristine</span>
        <pre>{{ 'objeto' | json }}</pre>

        <span>Touched</span>
        <pre>{{ 'objeto' | json }}</pre>

        <span>Value</span>
        <pre>{{ 'objeto' | json }}</pre>

        <span>Precio</span>
        <pre>{{ 'objeto' | json }}</pre>

        <span>Producto</span>
        <pre>{{ 'objeto' | json }}</pre>
    </div>
</div>