<div class="row mt-3">
    <div class="col-2">
        <side-menu />
        <div class="col-10">
            <h1>StandAlone Component - Page</h1>
            
            <hr>

            <div class="row">
                <div class="col">
                    <p>*Este componente no necesita ser importado en módulos</p>
                    <p>Ya que es un componente, pero también, su própio módulo</p>
                </div>
            </div>

            <alone-counter [counter]="25" />
        </div>
    </div>
</div>


<div class="row mt-3">
    <div class="col-2"></div>
    <div class="col">
        <h1>StandAlone Component - Page</h1>
        
        <hr>

        <div class="row">
            <div class="col">
                <p>*Este componente no necesita ser importado en módulos</p>
                <p>Ya que es un componente, pero también, su própio módulo</p>
            </div>
        </div>

        <alone-counter [counter]="25" />

    </div>
  </div>
  
  